* {
    padding: 0;
    margin: 0;
}

section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box-1 {
    background-color: aqua;
    width: 400px;
    padding: 20px;
    border: 1px solid black;
    box-sizing: content-box;
}

.box-2 {
    background-color: blue;
    width: 400px;
    padding: 20px;
    border: 1px solid black;
    box-sizing: border-box;
}