* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: fixed;
}
body {
  background-color: aqua;
}
.header img {
  width: 50px;
}
.header {
  background-color: rgba(217, 217, 217, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  margin: 0 4px;
}
.nav a {
  margin: 0 15px;
  text-decoration: none;
  color: black;
}
.login {
  background-color: skyblue;
  padding: 10px;
  border-radius: 10px;
}
.div-sec1 {
  background-color: rgba(159, 159, 159, 1);
  text-align: center;
  padding: 20px;
  margin: 0 4px;
}
.div-sec2 {
  background-color: rgba(235, 234, 234, 1);
  text-align: center;
  padding: 50px;
  margin: 0 4px;
}
.div-sec3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.top-box1 {
  background-color: rgba(235, 234, 234, 1);
  width: 300px;
  height: 300px;
  align-content: center;
  text-align: center;
}
.top-box2 {
  background-color: rgba(235, 234, 234, 1);
  width: 300px;
  height: 300px;
  align-content: center;
  text-align: center;
}
.top-box3 {
  background-color: rgba(235, 234, 234, 1);
  width: 300px;
  height: 300px;
  align-content: center;
  text-align: center;
}
.top-box4 {
  background-color: rgba(235, 234, 234, 1);
  width: 300px;
  height: 300px;
  align-content: center;
  text-align: center;
}
.div-sec4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.box1 {
  background-color: rgba(235, 234, 234, 1);
  padding: 10px;
  width: 596px;
  height: 353px;
}
.box2 {
  background-color: rgba(235, 234, 234, 1);
  padding: 10px;
  width: 596px;
  height: 353px;
}
.div-sec5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.offers {
  background-color: rgba(235, 234, 234, 1);
  padding: 10px;
  width: 1440px;
  height: 353px;
}
.div-sec6 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.box-deal {
  background-color: rgba(235, 234, 234, 1);
  padding: 10px;
  width: 900px;
  height: 211px;
  text-align: center;
  align-content: center;
}
.div-sec7 {
  background-color: rgba(235, 234, 234, 1);
}
.container-kotak {
  background-color: rgba(235, 234, 234, 1);
  display: flex;
  justify-content: space-between;
  align-items: left;
  margin: 10px;
  padding: 10px;
}
.kotak1 {
  display: flex;
  flex-direction: row;
  background-color: rgba(195, 191, 191, 1);
  width: 200px;
  height: 200px;
  align-content: center;
  text-align: center;
}
.kotak2 {
  display: flex;
  flex-direction: row;
  background-color: rgba(195, 191, 191, 1);
  width: 200px;
  height: 200px;
  align-content: center;
  text-align: center;
}
.kotak3 {
  display: flex;
  flex-direction: row;
  background-color: rgba(195, 191, 191, 1);
  width: 200px;
  height: 200px;
  align-content: center;
  text-align: center;
}
.kotak4 {
  display: flex;
  flex-direction: row;
  background-color: rgba(195, 191, 191, 1);
  width: 200px;
  height: 200px;
  align-content: center;
  text-align: center;
}
.footer {
  background-color: rgba(217, 217, 217, 1);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: end;
}
.text-footer {
  align-content: flex-end;
}
