@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Kode+Mono:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

.card-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-one {
  gap: 10px;
  width: 226px;
  height: 406px;
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 1);
  padding: 8px;
}

.card-img img {
  width: 210px;
}

.des-card {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 8px;
}

h4 {
  font-size: 24px;
  font-weight: 700;
}

.card-text {
  font-size: 12px;
  font-weight: 600;
}

.card1 {
  background-color: grey;
  width: 41px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 8px 1px;
}

.card2 {
  background-color: grey;
  width: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.card3 {
  background-color: grey;
  width: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.text {
  font-size: 9px;
  padding-top: 8px;
  line-height: 16px;
}

.text li {
  list-style: none;
}

.button-group {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  justify-content: space-between;
}

.button-one {
  background-color: black;
  color: white;
  border: none;
  font-size: 10px;
  width: 103px;
  height: 32px;
  border-radius: 4px;
  padding: 6px 26px;
  gap: 8px;
}

.button-two {
  background-color: white;
  color: black;
  border: solid 1px black;
  font-size: 10px;
  width: 103px;
  height: 32px;
  border-radius: 4px;
  padding: 6px 2px;
  gap: 8px;
}

@media (min-width: 391px) {
  .card-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 474px;
    height: 206px;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 1);
    padding: 8px;
  }
}
