.line button {
  background-color: aliceblue;
  border: 1px solid black;
  padding: 10px 20px;
}

.line2 {
  border: dashed 1px black;
}

.line3 {
  width: 200px;
  height: 200px;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid black;
}

.box-one {
    width: 300px;
    padding: 20px;
    border: 20px solid transparent;
    border-image: url(./navi-0yS1h6zKzVA-unsplash.jpg);
    border-image-slice: 30;
    /* border-image-repeat:round ; */
}
