@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Monoton&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&family=Syne:wght@400..800&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #151515;
  font-family: "Syne", sans-serif;
}
.Logo-nav {
  font-family: "Monoton", sans-serif;
  text-decoration: none;
  color: #e0e0e0;
  background-image: linear-gradient(
    45deg,
    #e0e0e0,
    #bdbdbd 50%,
    #757575 100%,
    #2c4242 150%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  display: flex;
}
.icon-bar {
  color: white;
}
.nav-bar {
  display: none;
}
.btn {
  display: none;
}
.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.hero-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
  padding: 20px;
}
.text-sec {
  color: #bdbdbd;
  display: flex;
  flex-direction: column;
  font-family: "Syne", sans-serif;
  font-size: xx-large;
  order: 1;
}
.img-sec {
  border: 50 solid #757575;
  border-radius: 50%;
}
.img-sec img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
@media (min-width: 391px) {
  @import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Monoton&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&family=Syne:wght@400..800&display=swap");
  * {
    margin: 0;
    padding: 0;
  }
  .icon-bar {
    display: none;
  }
  .nav-bar {
    display: block;
  }
  body {
    background-color: #151515;
    font-family: "Syne", sans-serif;
  }
  .Logo-nav {
    font-family: "Monoton", sans-serif;
    text-decoration: none;
    color: #e0e0e0;
    background-image: linear-gradient(
      45deg,
      #e0e0e0,
      #bdbdbd 50%,
      #757575 100%,
      #2c4242 150%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    display: flex;
  }
  .header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  .nav-bar a {
    text-decoration: none;
    color: #bdbdbd;
    padding: 30px;
  }
  button {
    background-color: #2f3634;
    border: 1px solid #2f3634;
    padding: 3px 19px;
    font-family: "Syne", sans-serif;
    color: #bdbdbd;
    border-radius: 41px;
  }
  .btn :hover {
    background-color: #bdbdbd;
  }
  .hero-sec {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.text-sec {
  color: #bdbdbd;
  display: flex;
  flex-direction: column;
  font-family: "Syne", sans-serif;
  font-size: xx-large;
}
.img-sec {
  box-shadow: #bdbdbd;
  border: 2px solid #e0e0e0;
  border-radius: 50%;
  order: 1;
}
.img-sec img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
}
