@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Kode+Mono:wght@400..700&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
body {
    background-image: url(./wallpaper14.jpeg);
  font-family: "Kode Mono", monospace;
}
.judul {
  color: blue;
  text-align: center;
}

p {
  color: black;
  font-family: monospace;
  background-color: lightgrey;
  padding: 20px;
  margin: 15px;
}
.kotak {
  width: 200px;
  height: 200px;
  background-color: green;
  padding: 10px;
  margin: auto;
}
#tombol {
  background-color: orange;
  color: white;
  padding: 8px 16px;
}
#tombol:hover {
  background-color: red;
  border-radius: 10px;
}
