.box {
    background-color: hsl(324, 70%, 40%);
    color: white;
}
.box h3{
    background-color: rgb(0, 0,255);
}
.box-one h2 {
    color: rgba(  0, 0, 255, 0.1);
}
.box-one div h3 {
    color:yellowgreen;
}
.box-one .item h3 {
    color: brown;
}
