@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  margin: 20px 30px 50px 40px;
  display: flex;
  align-items: center;
}

header h3 {
  color: black;
  text-transform: capitalize;
  padding: 10px;
}

.verify-main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center ;
  margin-bottom: 100px;
}
main {
  margin-top: -50px;
}
.text-main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

.text-one{
    line-height: 50px;
    margin-top: -200px;
}

.text-two{
    line-height: 50px;
}

.img-main img {
  width: 500px;
}

.text-main h3 {
font-size: 40px;
}

.input-group {
  position: relative;
  margin-top: 20px;
}

.input-group input {
  width: 512px;
  height: 54px;
  gap: 10px;
  font-size: 16px;
  border: 2px solid #999;
  border-radius: 4px;
}

.input-group label {
  position: absolute;
  top: -23px;
  left: 12px;
  background: white;
  padding: 0 4px;
  font-size: 14px;
}

span {
  color: red;
}

button {
  width: 512px;
  height: 48px;
  background-color: rgba(81, 93, 239, 1);
  border: none;
  border-radius: 4px;
  color: white;
}


