* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: #333;
}
.header-nav {
  text-align: center;
  position: fixed;
  color: white;
  width: 100%;
  top: 0;
  z-index: 100;
}
#header-nav p {
  background-color: green;
  padding: 15px;
  font-size: 24px;
}
.content {
  display: flex;
  margin-top: 60px;
  height: 100%;
}
.side-kiri {
  background-color: lightgray;
  height: 1000px;
  width: 20%;
  margin: 20px;
  float: left;
}
.content2 {
  display: flex;
  flex-direction: column;
  height: 2000px;
}
.space-kosong {
  height: 1000px;
}
.stiky {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  background-color: yellow;
  width: 1000px;
  height: 35px;
  position: sticky;
  left: 0;
  top: 80px;
}
.parent {
  background-color: lightgray;
  width: 300px;
  height: 200px;
  position: relative;
  text-align: center;
  padding: 10px;
  border: #333 solid 2px;
}
.child {
  background-color: rgb(63, 196, 63);
  border-radius:  2px;
  color: white;
  width: 80px;
  height: 50px;
  padding: 10px;
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 200px;
}
.konten-utama {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 50px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  border: #333 solid 1px;
  position: absolute;
  bottom: 200px;
  left: 262px;
}
.text {
  position: absolute;
  top: 70%;
  left: 262px;
}
#footer-bar {
  background-color: #333;
  color: wheat;
  text-align: center;
}
.button-red {
  text-align: center;
  background-color: red;
  color: white;
  padding: 20px;
  border: #333 solid 1px;
  border-radius: 10px;
  position: fixed;
  bottom: 0;
  left: 88%;
  z-index: 100;
}